.hero {
  background: url("../../assets/image/hero.jpeg");
  background-position: center;
  background-size: cover;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__title {
    font-size: 50px;
    margin: 10px 0;
  }
}
