.header {
  background-color: var(--white);
  border-bottom: 2px solid var(--primary);
  position: fixed;
  height: 80px;
  padding: 10px 20px;
  width: 100%;
}
.brand-container {
  width: 100px;
}

.margin {
  margin-left: 10px;
}
