.header {
  background-color: var(--white);
  box-shadow: 3px 12px 18px -2px rgba(0, 0, 0, 0.59);
  position: fixed;
  height: 80px;
  padding: 10px 20px;
  width: 100%;
}
.brand-container {
  width: 100px;
}
