<section class="container" id="aboutme">
  <h3 class="title">Acerca de mi</h3>
  <img src="https://img.icons8.com/bubbles/100/000000/brown-long-hair-lady-with-red-glasses.png"/>
  <p class="about-paragraph">Frontend Developer con interés en el Backend.
  </p>
  <p class="about-paragraph">
    Creo en el poder de la paciencia y la persistencia para encontrar la mejor solución en un ambiente colaborativo de desarrollo.
Mi creatividad y entusiasmo por adquirir nuevos conocimientos, me permiten agilizar el proceso de aprendizaje en diferentes ámbitos
profesionales.
  </p>
  <p class="about-paragraph">
    Realizo aplicaciones con HTML, CSS, JavaScript, Angular y Firebase.
  </p>
</section>