<section class="container" id="contact">
  <h2 class="title">Contacto</h2>
  <img src="https://img.icons8.com/bubbles/100/000000/phone.png"/>
  <div class="contact-container">
    <div>
      <h3>Detalle de Contacto</h3>
      <ul>
        <li>
          Email: oriana.nohemi22@gmai.com
        </li>
      </ul>
    </div>
    <img [src]="helloGif" alt="">

  </div>
  <section class="container social-container">
    <ul class="flex-container">
      <li>
        <a class="social-link" href="https://github.com/oriananohemi" target="_blank">.Github</a>
      </li>
      <li>
        <a class="social-link" href="https://www.linkedin.com/in/oriananohemi/" target="_blank">. Linkedin</a>
      </li>
      <li>
        <a class="social-link" href="https://twitter.com/oriananohemi_" target="_blank">.Twitter</a>
      </li>
      <li>
        <a class="social-link" href="https://codepen.io/oriananohemi22" target="_blank">.Codepen</a>
      </li>
    </ul>
  </section>
</section>