<img src="https://img.icons8.com/bubbles/100/000000/phone.png"/>
<h2 class="title">Contacto</h2>
<h3>Detalle de Contacto</h3>
<ul>
  <li>
    Email: oriana.nohemi22@gmai.com
  </li>
  <li>
    Email: orianna.nohemi@gmail.com
  </li>
</ul>
<img [src]="helloGif" alt="">

<section class="container">
  <ul class="flex-container">
    <li>
      <a href="https://github.com/oriananohemi" target="_blank">.Github</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/oriananohemi/" target="_blank">. Linkedin</a>
    </li>
    <li>
      <a href="https://twitter.com/oriananohemi_" target="_blank">.twitter</a>
    </li>
    <li>
      <a href="https://www.canva.com/design/DAEIXLF-c4o/vHfemFaAM5x_RvKNAGfs_A/view?utm_content=DAEIXLF-c4o&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink" target="_blank">.cv</a>
    </li>
  </ul>
</section>