.project {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--black);
  border-radius: 10px;
  background-color: var(--secondary);
  padding: 20px 10px;
  margin: 20px;
  width: 350px;
  &__title {
    margin: 10px 0;
  }
  &__link {
    background-color: var(--primary);
    border: 1px solid var(--black);
    border-radius: 10px;
    padding: 10px 20px;
  }
  &__link:hover {
    background-color: var(--black);
    border: 1px solid var(--primary);
    color: var(--primary);
  }
  &-image {
    height: 450px;
  }
}
