:root {
  --primary: #fb9495;
  --secondary: #ebf3f7;
  --white: #fff;
  --black: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.flex-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.responsive-image {
  max-width: 100%;
}

.title {
  font-size: 40px;
  margin: 30px 0;
}

body {
  font-size: 18px;
  text-align: center;
}
