* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.flex-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.responsive-image {
  max-width: 100%;
}

body {
  font-size: 18px;
  text-align: center;
}
